.st-navbar .navbar-header {
  margin-top: 10px;
}

@media screen 
  and (min-device-width: 1200px) { 
    .something {}

    #hero {
      padding: 100px;
      padding-top: 200px;
      background-image: url('../images/utensils-hero-xlarge.png');
    }

    #hero.content {
      margin-top: 200px;
      margin-bottom: 200px;
    }

    #vision {
      padding-top: 130px;
      padding-bottom: 120px;
    }

    #service-offering {
      display: none;
    }
}

@media screen
  and (min-device-width: 1024px)
  and (max-device-width: 1199px) {
    .something {}

    #hero {
      padding: 100px;
      padding-top: 200px;
      background-image: url('../images/utensils-hero-large.png');
    }

    #hero.content {
      margin-top: 200px;
      margin-bottom: 200px;
    }

    #vision {
      padding-top: 130px;
      padding-bottom: 120px;
    }

    #service-offering {
      display: none;
    }
}

@media screen 
  and (min-device-width: 480px) 
  and (max-device-width: 1023px) {
    .something {}
    
    #hero {
      padding: 100px;
      padding-top: 150px;
      background-image: url('../images/utensils-hero-medium.png');
    }

    #hero.content {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #vision {
      padding-top: 130px;
      padding-bottom: 120px;
    }

    #service-offering {
      display: none;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .something {}
    
    #hero {
      padding: 20px;
      padding-top: 150px;
      padding-bottom: 100px;
      background-image: url('../images/utensils-hero-small.png');
    }

    #hero.content {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 0;
      margin-left: 0;
    }

    #vision {
      padding-top: 130px;
      padding-bottom: 120px;
    }

    #service-offering {
      display: none;
    }
}
